<nav class="navbar nav-custom shadow drag">
    <button class="navbar-toggler no-drag brand" type="button" onclick="toggleNav()">
        <i class="fas fa-bars brand_element mr-2"></i>
        <span class="brand_element"> DeskApp</span>

    </button>


    <div class="win-action no-drag text-right">
        <a id="minimize" class="colored p-1 action">
            ~
        </a>
        <a id="maximize" class="colored p-1 action">
            o
        </a>
        <a id="close" class="colored p-1 action">
            x
        </a>
    </div>

</nav>
<div class="sidebar no-drag" id="sidebar">
    <a href="javascript:void(0)" onclick="loadPage('home.html');toggleNav();">Home</a>
    <a href="javascript:void(0)" onclick="loadPage('tasks.html');toggleNav();">Tasks</a>
    <a href="javascript:void(0)" onclick="loadPage('watchList.html');toggleNav();">Watchlist</a>
    <a href="javascript:void(0)" onclick="loadPage('settings.html');toggleNav();">Settings</a>  
 
</div>