<form class="w-100" action="javascript:void(0)">
    <div class="form-row">
        <div class="col-4">
            <input type="text" id="_name" class="form-control mt-2" placeholder="Name">
        </div>
        <div class="col-4">
            <div class="custom-file mt-2">
                <input type="file" class="custom-file-input " id="_src" lang="en">
                <label class="custom-file-label" for="customFileLang">Icon</label>
            </div>
        </div>
        <div class="col-4">
            <div class="custom-file mt-2">
                <input type="file" class="custom-file-input " id="_app" lang="en">
                <label class="custom-file-label" for="customFileLang">App</label>
            </div>
        </div>

        <div class="col-6">
            <button type="submit" class="btn btn-block btn-dark colored mt-2" onClick="addWidget()">
                Save
            </button>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-block btn-dark colored mt-2" onClick="loadWidget()">
                Cancel
            </button>
        </div>
    </div>
</form>