<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">

    <!-- Scripts -->
    <script src="../pageBuilder.js"></script>


    <title>DeskApp</title>

</head>

<body class="bg-lg" style="overflow: hidden;">
    <header id="header">

    </header>
    <main role="main" id="main">


    </main>
    <footer id="footer" class="bg-lg">
        <div id="log_form" class="log_popup shadow bg-lg" style="display: none;">
            <div class="m-2">
                <form id="account" class="" action="javascript:void(0);">
                    <div class="overlay" onclick="toggleLog();">x</div>
                    <h2 class="m-2">Account</h2>
                    <input type="text" class="form-control mt-2" name="email" id="_email" placeholder="Email">
                    <input type="password" class="form-control mt-2" name="password" id="_password" placeholder="Password">
                    <div class="btn-group mt-2">
                        <button class="btn btn-dark colored" onclick="logIn();toggleLog();">Log in</button>
                        <button class="btn btn-dark colored" onclick="createAccount();toggleLog();">Create</button>
                    </div>
                </form>
            </div>
            <div id="log_error">
            </div>
        </div>
       
        </div>
        <div id="console">

        </div>
    </footer>
</body>

</html>