<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Style -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/custom.css">
    <link rel="stylesheet" href="../assets/css/all.min.css">

    <!-- Scripts -->
    <script src="../pageBuilder.js"></script>


    <title>DeskApp</title>

</head>

<body class="bg-lg" style="overflow: hidden;">
    <header id="header">

    </header>
    <main role="main" id="main">


    </main>
    <footer id="footer">
        <div id="console">
            
        </div>
    </footer>
</body>

</html>